
body
{
	text-align: center;
}

.grid
{
	display: inline-block;
	margin-top: 30px auto;
}
.square
{
	margin:1px 1px;
	padding:0;
	border:1px solid;
	float: left;
}

.button
{
	width:100px;
	height:30px;
	line-height: 30px;
	margin: 20px auto;
	padding:10px;
	display: inline-block;
	background: rgba(124,123,233,.9);
	text-decoration: none;
	color:whitesmoke;
}

.field
{
	border: 1px solid;
	width:100px;
	border-radius:5px 10px; 
	margin: 5px auto;

	
}

label
{
	font-size: 18px;
	vertical-align: middle;
}

input
{
	vertical-align: middle;
	width:18px;
	height: 18px;
}

